<div class="footer-container">
    <div class="term-container">
        <div class="term">Terms and Conditions</div>
        <div class="line"></div>
        <div class="term">Privacy Policy</div>
    </div>
    <div class="links">
        <a href="https://www.linkedin.com/in/motunrayo-odusina-21a290168/" target="_blank" rel="noreferrer">
            <img src="./assets/images/linkedin.png" alt="linkedin" />
        </a>
        <a href="https://twitter.com/mospakles" target="_blank" rel="noreferrer">
            <img src="./assets/images/twitter.png" alt="twitter" />
        </a>
        <a href="https://github.com/mospakles" target="_blank" rel="noreferrer">
            <img src="./assets/images/github.png" alt="github"/>
        </a>
    </div>
    <div class="footer-text">
        © Motunrayo Odusina 2023 All Rights Reserved
    </div>
</div>
